@*the parent componentr
*@
@page "/products"

@inject ISearchProduct searchProduct

<h3>Search Products</h3>
<br/>

<SearchBarComponent onSearch="HandleSearch"></SearchBarComponent>

<br/>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Brand
            </th>
            <th>
                Price
            </th>
        </tr>
    </thead>


    @*<tbody> it's list of <tr></tr>*@
    <tbody>
        @if (Products != null && Products.Count() > 0)
        {
            @foreach (var product in Products)
            {
                <ProductItemComponent product="product"></ProductItemComponent>
            }
        }
        else
        {
            <tr>
                <td colspan="3">
                    Cannot find products
                </td>
            </tr>
        }

    </tbody>
</table>

@code { 

    private IEnumerable<Product> Products;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        Products = searchProduct.Execute();
    }

    private void HandleSearch(string filter)
    {
        Products = searchProduct.Execute(filter); 
    }
}
