<div>
    search:
    <input type="text" @bind-value="filter" />
    <button @onclick="HandleSearch">search</button>
</div>

@filter

@code {

    private string filter;

    [Parameter]
    public EventCallback<string> onSearch { get; set; }

    private void HandleSearch()
    {
        onSearch.InvokeAsync(filter);
    }
}
